@font-face {
  font-family: "iconfont"; /* Project id 3312153 */
  src: url('//at.alicdn.com/t/font_3312153_dtwwy5h9ojm.woff2?t=1649388487036') format('woff2'),
       url('//at.alicdn.com/t/font_3312153_dtwwy5h9ojm.woff?t=1649388487036') format('woff'),
       url('//at.alicdn.com/t/font_3312153_dtwwy5h9ojm.ttf?t=1649388487036') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-youjian:before {
  content: "\eb44";
}

.icon-bilibili-line:before {
  content: "\e66d";
}

.icon-gitee:before {
  content: "\e60c";
}